
  <h1>xito! </h1>
  <p>Tu transacci贸n se ha realizado exitosamente. Gracias por confiar en nosotros .</p>
  <h2>Detalles de la transacci贸n</h2>
  <p>
    <strong>ID de la transacci贸n: </strong>
    <%= @response[:id] %>
  </p>
  <p>
    <strong>Fecha de la transacci贸n: </strong>
    <%= @response[:created_at] %>
  </p>
  <p>
    <strong>Monto: </strong>
    <%= @response[:amount] %>
  </p>
  <p>
    <strong>Tipo de pago: </strong> <%= @response[:payment][:payment_type] %>
  </p>
  </p>
  <%= link_to 'Volver al Inicio', root_path, class: 'btn btn-primary'%>
  <%= link_to 'Volver al Ejemplo', charge_path, class: 'btn btn-primary'%>
  <hr>
  <p>Respuesta de la API:</p>
  <pre>
<code class="language-javascript">
<%= JSON.pretty_generate(@response) %>
</code>
  </pre>
