<!DOCTYPE html>
<html>
  <head>
    <title>Ejemplos Ruby on Rails QVO</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>

  <body>
    <nav>
      <%= link_to root_path, class: 'go-back' do %>
        &lt; Volver al Inicio
      <% end %>
    </nav>
    <div class='content'>
      <% flash.each do |key, value| %>
        <div class="alert alert-#{key} fade in" data-dismiss="alert">
          <div class="alert alert-danger">
            <strong>Error: </strong><%= value %>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </content>
  </body>
</html>
